body {
  font-family: sans-serif;
    background-color: hwb(270 70% 10%);
    color: hwb(0 10% 45%);
    margin-left: 30%;
    margin-right: 30%;
}

h1, h2 {
  text-align: left;
}

p {
  text-align: justify;
  line-height: 150%;
}
