td.hor_text {
    text-align: center;
    background-color: #3b69d7;
    color: #ffffff;
}

td.sor {
    text-align: center;
    background-color: #fafa8b;
}

td.si {
    text-align: center;
    background-color: #59aa58;
}

td.eie {
    text-align: center;
    background-color: #8585ff;
}

td.aw {
    text-align: center;
    background-color: #8a7e5c;
}

td.sr {
    text-align: center;
    background-color: #fc932b;
}

td.it {
    text-align: center;
    background-color: #ffa585;
}

td.recreo {
    text-align: center;
    background-color: #89b4fb;
}