* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
}

.contenedor {
    margin: 0px;
    background-color: #ffffff;
    height: 80%;
}

#arriba {
    background-color: #6e6e6e;
    color: #ffffff;
    height: 60px;
    position: sticky;
    -webkit-position: sticky;
}