/**Color de fondo**/
body {
background-color: #e6e6e6;
}

/**Contenedor**/
div.container {
    background-color: #a3ff8d;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

/**Info-arriba**/
div.nav-item {
    background-color: #666666;
    color: #ffffff;
    padding: 14px;
    height: 13px;
    font-size: 16px;
}

/**Posicionamiento de imágenes**/
#li1 {
    border: black 5px solid;
    border-radius: 10px;
    box-sizing:content-box;
    background-color: #ffffff;
    text-align: center;
}

/**Lado izquierdo**/
div.fixed-sidebar {
    float: left;
}