header {
    border: 3px #0000ff solid;
    height: 20%;
}

nav {
    border: 3px #000000 solid;
    height: 60%;
}

footer {
    border: 3px #fafa70 solid;
    height: 20%;
}

li.menu {
    list-style-type: none;
    display: inline-block;
    padding: 3px;
    margin: 5px;
    width: 1%;
}

div.logo {
    display: inline;
    width: 30%;
    border: 1px #ff4141 solid;
}

ul {
    display: inline;
    width: 20%;
    border: 2px #4545ff solid;
    padding-left: 30%;
}