* {
    box-sizing: border-box;
}

body {
    /**Color de fondo**/
    background-color: #ffffff;
}

div.container {
    /**Anchura y espacio del contendor entero**/
    margin: 20px auto;
    width: 80%;
}

h1 {
    /**Texto centrado**/
    text-align: center;
}

div.container nav {
    /**Fuente de letra del nav del contenedor**/
    background-color: black;
    color: white;
    font-size: 20px;
}
div.container nav div {
    display: inline-block;
    padding: 12px;
    width: 15%;
}

div.sidebar {
    float: left;
    background-color: black;
    color: white;
    margin-top: 30px;
    width: 14%;
    height: 25em;
    font-size: 17px;
}

div.sidebar div {
    padding: 10px;
}

section.courses {
    float: left;
    width: 80%;
    margin-left: 5%;
}

div.course {
    border: 2px black solid;
    border-radius: 10px;
    width: 20%;
    float: left;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
    width: 33%;
}

div.course img {
    width: 35%;
}

section.articles {
    float:left;
    column-count: 3;
    margin-top: 30px;
    margin-left: 5%;
    width: 80%;
}

footer {
    float: left;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    width: 100%;
}