body {
    border:1em #ff5959 solid;
    background-color: #6df7f7;
    font-size: 1em;
}

table {
    border-style: double;
    border-radius: 20%;
    border-width: 1rem;
    background-color: #fffd71;
    width: 50%;
    height: 40%;
}

tr {
    border: 1em #083baa solid;
}

td {
    border: 0.3em #0b07ff solid;
    padding-top:20%;
    padding-bottom:40%;
    padding-left:20%;
    padding-right:40%;
    padding: 20% 30% 25%;
}