ul {
    list-style-type: upper-roman;
}

ol {
    list-style-image: url("img/sonrisa.png");
}

dt.personalizado {
    background-color: yellow;
    border-color: red;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
    width: 30%;
    height: 50px;
}